*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav{
  background-color:rgba(15, 15, 123, 0.2) ;
  height: 70px;
}
nav ul{
  float: right;
  margin-right: 18px;
}
 nav ul li{
  list-style: none;
  display: inline-block;
  margin:22px 7px ;
 }
 nav ul li a{
  text-decoration: none;
 }
 label.logo{
  font-size: 60px;

 }